.graphs-landing {
    color: white;
    max-height: 90vh;
    width: 80%;
    margin: auto;
    margin-bottom: 200px;
  }
  .graphs-landing h3 {
    font-size: 1.3rem;
  }
  .graphs-landing h1 {
    font-size: 3rem;
    width: 70%;
  }
  
  .graphs-landing span {
    color: rgba(255, 255, 255, 0.719);
    font-size: 0.9rem;
    width: 40%;
      margin: auto;
  }
  .graphs-landing h2 {
    font-size: 3rem;
    width: 70%;
    margin-left: auto;
  }
  .scroll2-in-left {
    opacity: 0;
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    transform: translateX(-120px);
  }
  
  .scroll2-in-left.visible {
    opacity: 1;
    transform: translateX(0);
  }
  .logos-landing {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    height: 250px;
    align-items: center;
  }

  @media only screen and (max-width: 1450px) {
    .graphs-landing h1, .graphs-landing h2{
      font-size: 2rem;
    }
    .graphs-landing span{
      width: 60%;
  
      margin: auto;
    }
    .logos-landing img{
      height: 60px;
    }
   
  }

  @media only screen and (max-width: 650px) {
    .graphs-landing h1, .graphs-landing h2{
      font-size: 1.2rem;
      width: 100%;
    }
    .graphs-landing {
      width: 90%;
      margin-bottom: 50px;
    }
    .graphs-landing span{
      width: 100%;
      font-size: 0.8rem;
    }
    .logos-landing{
      display: none;
    }
    .triangle2, .triangle5, .triangle6, .triangle4, .triangle3, .triangle7, .triangle8{
      display: none;
    }
    .button-landing-5{
      width: 60% ;
    }
  }